.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link {
  font-size:large;
  font-weight: 700;
  color:  rgb(255, 255, 255);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover, .nav-link:focus {
  color: rgb(0, 34, 65);
  border-bottom-color: rgb(148, 242, 255);
}

.coverimg{
  color: rgb(255, 255, 255);
  position: relative;
  /* min-height: 350px; */
  /* background: url() no-repeat scroll 0px 100% / cover transparent; */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0)),
                  url("https://images3.alphacoders.com/809/809029.jpg"); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0)),
                  url("/img/norway.jpg");
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
}

.logo{
  color: #003634;
  font-style: italic;
  font
}


.img-max {
  max-width: 200px;
  min-width: 100px;
  width:100%;
}

.footerLinks a{
  text-decoration: none; 
  color:rgb(0, 174, 187);
  font-size: 35px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#Connect{
  height: 25vh;
  min-height: 50px;
}

.card {
  position: relative;
  text-align: center;
  color: white;
  display: flexbox;
  border-radius: 20px;
  border-width: 0;
  overflow: hidden;
}

.card img{
  display: block;
  width: 100%;
  height: 18rem;
  object-fit:cover;
  border-radius: 20px;
  transition: transform .1s ease;
}

.card:hover .cardtext{
  display: flex;
}

.card:hover img{
  transform: scale(1.3);
}

.cardtext {
  display:none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  border-radius: 10px;
  font-size:larger;
  font-weight:500;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.685);
  align-items:center;
  justify-content:center;
  margin: auto;
}

